.signup__form {
  position: relative;
  width: 640px;
  margin: 10px auto;
}

.signup-form__list {
  display: block;
  padding-left: 8px;
  border-top: 2px solid black;
}

.signup-form__item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  min-height: 84px;
  padding: 20px 0;
  box-sizing: border-box;
}

[class^="signup-form__title"] {
  display: inline-block;
  flex-shrink: 0;
  width: 139px;
  font-weight: 700;
  line-height: 44px;
  cursor: pointer;
}

.signup-form__input {
  flex-shrink: 0;
  width: 333px;
  height: 44px;
  box-sizing: border-box;
  padding: 9px 20px;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
}

[class^="signup-form__button"] {
  flex-shrink: 0;
  width: 143px;
  height: 44px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-weight: 700;
  color: var(--primary);
}

.signup-form__valid {
  margin-top: 4px;
  color: var(--accent-yellow);
  font-size: 14px;
  line-height: 19px;
}

.signup-form__button--loca {
  width: 333px;
}

.signup-form__desc--loca {
  margin-top: 4px;
  font-size: 14px;
  line-height: 19px;
}

.signup-form__label-radio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.signup input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
}

/* 이용 약관 */
.signup-form__text-radio {
  display: inline-block;
  padding: 0 54px 0 8px;
  font-weight: 700;
  line-height: 44px;
}

.signup-form__terms {
  display: flex;
  padding: 12px 8px 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid var(--gray-200);
}

.signup-form__check-terms {
  width: 100%;
  margin: 8px 0 0 8px;
}

.signup-form__term-wrap {
  display: flex;
}

.signup-form__label-check {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 12px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.signup-form__label-check.check-all {
  padding: 0 0 17px;
}

.signup-form__ico-check {
  flex-shrink: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("./../../assets/sprites.png") no-repeat -285px -226px;
  border-radius: 50%;
}

.signup input[type="checkbox"]:checked+.signup-form__ico-check {
  background-position: -406px -10px;
}

.signup input[type="checkbox"]:focus-visible+.signup-form__ico-check {
  outline-offset: 1px;
  outline: 2px solid black;
}

[class^="signup-form__text-check"] {
  padding: 0 8px;
  margin-right: auto;
}

.signup-form__text-check--all {
  flex-grow: 1;
  position: relative;
  font-size: 21px;
  line-height: 32px;
  font-weight: 700;
}

.signup-form__text-terms-desc {
  position: absolute;
  bottom: -19px;
  left: 7px;
  color: var(--gray-400);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -.4px;
}

.signup-form__btn-terms {
  position: relative;
  border: 0;
  color: var(--primary);
  font-size: 14px;
}

.signup-form__btn-terms::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 5px;
  border: 1px solid var(--primary);
  border-width: 1px 1px 0 0;
  transform: rotate(45deg) translateY(-50%);
}