main{
  display: flex;
  height: calc(100vh - 64px);
  justify-content: center;
  flex-direction: column;
}
.main{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  position: relative;
  margin: 0px auto;
  height: 100%;
}