

.main{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 850px;
min-width: 450px;
height: 100vh;
}

.chatRecord { 
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: calc(100vh  - 40vh);
  overflow-y: scroll;
  
}

 .addMessageBox{
display: flex;
  justify-content: end;

width: fit-content;
  padding: 10px 14px;
      margin-top: 10px;
      font-size: 14px;
      border-radius: 20px;
      background-color: #CFA36E;
      color: white;
} 